.Headers {
    color: rgb(35, 174, 234);
    margin-left: 100px;
}

.Spacer {
    height: 300px;
}

.ImageUploader {
    display: flex;
    flex-direction: row;
    margin: 0px 75px 0px 75px;
}

.SingleImageUploaderDiv {
    margin: 0px 20px 0px 20px;
    height: 100%;
}