.Label {
    font-size: x-large;
    font-family: 'Vice City Sans', sans-serif;
    color: rgb(35, 174, 234);
    margin-right: 25px;
}

.PictureInputDiv {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}